html{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 16px;
}

.panel{
    padding:40px;
    /*background-color: rgba(100, 255, 255, 0.5); */
}

.safe-area{
    width: 960px;
    margin: auto; 
}

header{
    background-image: url(../images/london-sunset.jpg);
}

header.panel .safe-area{
    text-align: center;
    padding-top: 112px;
    padding-bottom: 140px;
}

header.panel h1{
    font-size: 80px;
    margin: 0;
}

header.panel .subheading{
    font-size: 30px;
    font-weight: bold;
}

h2{
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

.first-image{
    width: 400px;
    height: 300px;
    float: right;
    margin: 0px 0px 25px 25px;
}

.feature.panel{
    background-color: #f76a43;
}

.gallery.panel{
    background-color: #635a58;
}

.conclusion.panel{
    background-color: #fcb17e;
}

footer{
    background-color: #ffd6a1;
}

.gallery.panel h2{
    color: #e3e0dc;
}

.gallery.panel li{
    color: #e3e0dc;
}

.feature.panel p{
    font-size: 18px;
}

.grid-flex{
    margin-top: -21px;
    display: flex;
}

ul{
    padding-left: 0;
    padding-right: 23px;
    list-style: none;
}

.image-grid li{
    margin-bottom 22px;
    display: flex;
    margin-right: 30px;
}

#grid-image{
    width: 200px;
    height: 150px;
    margin-bottom: 25px;
}

h3{
    margin-top: 0px;
    margin-bottom: -13px;
    padding-left: 11px;
}
p{
    padding-left: 11px;
}

section.gallery.panel{
    padding-bottom: 20px;
}

section.conclusion.panel p{
    font-size: 25px;
    line-height: 36px;
    margin: auto;
    width: 700px;
    text-align: center;
    margin-bottom: 60px;
}

footer p{
    margin-top: 0px;
    font-size: 18px;
}